body {
    padding:0;
    font-family: raleway;
    font-weight: 400;
    background-color: #f1f1f1;
}

a {
    text-decoration: none;
}

.hover-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.btn{
    width: 200px;
    position: relative;
    display: inline-block;
    border-radius: 30px;
    background-color: #fcfcfc;
    color: #ffa000;
    text-align: center;
    font-size: 18px;
    padding: 15px 0;
    transition: all 0.3s;
    padding-right: 40px;
    margin: 20px 5px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.06); 
}
.btn .btn-icon {
    background-color: #ffa000;
    width: 92px;
    height: 52px;
    float: right;
    position: absolute;
    border-radius: 30px 30px 30px 0;
    right: 0px;
    top:0px;
    transition: all 0.3s;
}

.btn .btn-icon::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 52px solid #fcfcfc;
    border-right: 40px solid transparent;
    position: absolute;
    top: 0px;
    left:0px;
}
.name-desc{
    position: relative;
    z-index: 9999;
}

.btn:hover .btn-icon {
    width: 100%;
    border-radius: 30px;
}

.btn:hover .btn-icon::after {
    display: none;
    opacity: 0.1;
} 
.btn-icon i {
    position: absolute;
    right: 25px;
    top:20px;
    color: #fff;
}

.btn:hover{
    color:#fff!important;
}
.fb {
    background-color: darkblue!important;
}
.insta {
    background-color: #ff586b!important;
}
.linkedin {
    background-color: #8bc34a!important;
}
.twitter {
    background-color: #00b7c4!important;
}